In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_largest_technology_companies_by_revenue"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

In [4]:
response = requests.get(url, headers=headers)

In [5]:
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
tables = soup.find_all("table", class_="wikitable")
len(tables)

7

In [7]:
main_table = tables[0]

In [8]:
main_table = tables[1]

In [9]:
columns = [th.text.strip() for th in main_table.find_all("th")]
columns

['Company',
 'Revenue ($B) USD[1]',
 'Profit ($B) USD[1]',
 'Employees[1]',
 'Country (origin)',
 'Headquarters']

In [10]:
df = pd.DataFrame(columns=columns)

In [11]:
rows = main_table.find_all("tr")[1:]  # header skip

for row in rows:
    row_data = row.find_all("td")
    row_text = [data.text.strip() for data in row_data]
    df.loc[len(df)] = row_text

In [12]:
df

,Company,Revenue ($B) USD[1],Profit ($B) USD[1],Employees[1],Country (origin),Headquarters
0,Amazon,$637.9,$59.2,"1,556,000",US,"Seattle, Washington & Arlington, Virginia, US"
1,Apple,$416.0,$112.0,"166,100",US,"Cupertino, California, US"
2,Alphabet,$350.0,$100.1,"190,167",US,"Mountain View, California, US"
3,Microsoft,$281.7,$101.8,"228,000",US,"Redmond, Washington, US"
4,Samsung Electronics,$220.3,$25.3,"270,372",South Korea,"Suwon, South Korea"
5,Foxconn,$213.9,$4.6,"767,062",Taiwan,"New Taipei City, Taiwan"
6,Meta,$164.5,$62.4,"78,450",US,"Menlo Park, California, US"
7,Jingdong,$158.8,$3.3,"620,000",China,"Beijing, China"
8,Alibaba,$137.3,$17.8,"124,320",China,"Hangzhou, China & George Town, Cayman Islands"
9,Nvidia,$130.5,$72.9,"36,000",US,"Sunnyvale, California, US"
10,AT&T,$122.3,$50.2,"140,990",US,"Dallas, Texas, US"
11,Huawei,$118.1,$8.5,"208,000",China,"Shenzhen, China"
12,Deutsche Telekom,$112.0,$9.0,"205,000",Germany,"Bonn, Germany"
13,Dell Technologies,$95.6,$4.6,"108,000",US,"Round Rock, Texas, US"
14,Tencent,$91.8,$27.3,"105,417",China,"Shenzhen, China"
15,Sony,$90.1,$6.7,"113,000",Japan,"Tokyo, Japan"
16,TSMC,$88.3,$35.3,"83,825",Taiwan,"New Taipei City, Taiwan"
17,Hitachi,$80.39,$3.8,"322,525",Japan,"Tokyo, Japan"
18,Lenovo,$69.0,$1.5,"72,000",Hong Kong/ US,"Hong Kong China/Morrisville, North Carolina, U..."
19,Accenture,$64.9,$7.4,"774,000",Ireland/ US,"Dublin, Ireland/New York, US"
20,IBM,$62.7,$6.0,"270,300",US,"Armonk, New York, US"
21,LG Electronics,$57.7,$1.3,"75,000",South Korea,"Seoul, South Korea"
22,Oracle,$57.4,$12.4,"162,000",US,"Austin, Texas, US"
23,Cisco,$56.7,$10.1,"86,200",US,"San Jose, California, US"
24,Panasonic,$55.3,$2.9,"228,420",Japan,"Kadoma, Osaka, Japan"